.input::placeholder {
  color: var(--black-color);
  text-transform: none;
  opacity: 1;
}
.input.error {
  border-color: var(--pink-back-color) !important;
}
.input.file {
  border: 1px solid var(--gray-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  cursor: url("../img/cursor-pointer.png"), auto;
  transition: var(--trs-300);
  &:hover {
    background: var(--pink-color);
    border-color: var(--pink-color);
    p {
      color: var(--white-color);
    }
  }
  &:active {
    box-shadow: var(--shadow-inset);
  }
  input {
    display: none;
  }
  p {
    transition: var(--trs-300);

    color: var(--gray-color);
    text-transform: none;
    opacity: 1;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
  }
}
.input.gray::placeholder {
  color: rgba(0, 0, 0, 0.8);
}
.input.gray {
  background: var(--gray-color);
  color: rgba(0, 0, 0, 0.8);
}
.input {
  outline: none;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  width: 100%;
  padding: 19px 24px;
  height: 50px;
  border-radius: 8px;
  color: var(--black-color);
  transition: var(--trs-300);
}
