@import "./variables";

html,
body {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #000;
}

html.active {
  overflow: hidden;
}
.hidden {
  display: none;
}
body {
  background: var(--white-color);
  font-family: "YS", sans-serif;
  font-optical-sizing: auto;
  color: var(--black-color);
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(48 / var(--screensize) * 100vw);
  padding-right: calc(48 / var(--screensize) * 100vw);
  width: 100%;
  @media (max-width: 1024px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.fancybox__backdrop {
  background-color: rgba(86, 86, 86, 0.15);
  backdrop-filter: blur(10px);
}
.fancybox__container {
  z-index: 10000;
}

.form {
  .input__row {
    display: flex;
    flex-direction: column;
    .input__item-small {
      color: #f34040;
      font-family: Onest, sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 300;
      line-height: 125%; /* 15px */
      letter-spacing: 0.24px;
    }
  }
  .input__row.error {
    input:placeholder-shown {
      color: #f34040;
    }
  }
}
.navigation {
  display: flex;
  align-items: center;
  gap: 18px;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 999px;
    z-index: 2;
    transition: var(--trs-300);

    img {
      width: 16px;
      height: fit-content;
      object-fit: contain;
    }
  }
}
.swiper-pagination.blue {
  .swiper-pagination-bullet-active {
    background: var(--green-color) !important;
  }
  .swiper-pagination-bullet {
    background: var(--white-color);
  }
}
.pagination-number {
  width: fit-content !important;
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  font-family: "ElMessiri", sans-serif;
}
.pagination-line.anim {
  .swiper-pagination-bullet-active {
    width: 100%;
    background: rgba(255, 255, 255, 0.5) !important;
    opacity: 1 !important;
    z-index: 2;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 5px;
      animation: slidein 2600ms linear 0ms;
      background: var(--white-color) !important;
      z-index: 2;
    }
  }
}
.pagination-line {
  width: 100%;
  display: flex;
  gap: 14px;
  .swiper-pagination-bullet {
    width: 100%;
    border-radius: 0;
    opacity: 0.5 !important;
    background: var(--white-color) !important;
    transition: var(--trs-300);
    height: 5px;
    z-index: 2;
  }
  .swiper-pagination-bullet-active {
    width: 100%;
    background: var(--white-color) !important;
    opacity: 1 !important;
    z-index: 2;
    position: relative;
  }
}
.swiper-pagination {
  align-items: center;
  justify-content: center;
  gap: 7px;
  width: 100%;
  position: relative;
  bottom: 0 !important;
  top: 0 !important;
  display: none;
  @media (max-width: $tab) {
    display: flex;
  }
  .swiper-pagination-bullet-active {
    background: var(--gold-color) !important;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #dedede;
    transition: var(--trs-300);
    opacity: 1;
  }
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
@keyframes slidein {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


button, input, select {
  font-family: "YS", sans-serif;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

h3 {
  font-size: calc(24 / var(--screensize) * 100vw);
  font-weight: 500;
  margin-bottom: calc(32 / var(--screensize) * 100vw);
  padding-left: calc(32 / var(--screensize) * 100vw);
  padding-top: calc(32 / var(--screensize) * 100vw);
  border-top: 1px solid #EBEFF5;
}

h2 {
  font-size: calc(32 / var(--screensize) * 100vw);
  font-weight: 500;
  padding-left: calc(32 / var(--screensize) * 100vw);
  margin-bottom: calc(32 / var(--screensize) * 100vw);
}